$color1: #219ebc;
$color2: #8ecae6;

$color-secend: #023047;

$color-acc2: #fb8500;
$color-acc: #ffb703;

$main-padding: 1em;
$secndary-padding: 0.5em;

@mixin box($border-radius: 0.6rem, $padding: $secndary-padding) {
  border-radius: $border-radius;
  box-shadow: 0 0 0.5rem 0.2rem rgba($color: #000000, $alpha: 0.4);
  padding: $padding;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

%texts {
  line-height: 1.2em;
  padding: 0.3em;
  max-width: 35em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %texts;
  font-family: "Courgette", cursive;
}

p,
label {
  @extend %texts;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
textarea:focus,
input:focus,
button:focus {
  box-shadow: 0 0 4px 1px rgba($color: #00cbe6, $alpha: 0.5),
    inset 0 0 4px 1px rgba($color: #00cbe6, $alpha: 0.5);
  outline: none;
}
button {
  cursor: pointer;
}
textarea {
  resize: vertical;
  min-height: 10em;
  max-height: 30em;
}
label {
  display: block;
  margin-top: 0.5em;
}
input,
textarea,
button {
  border: none;
  border-radius: 0.6rem;
  padding: $secndary-padding;
}
