@import "../../vars";

.img-text-container {
  @include box(0, 0);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 10em;
  background-color: $color1;
  width: 100%;
  min-height: 20em;
  .text {
    h1 {
      color: $color-acc2;
    }
    width: 80%;
    padding: 1em;
  }
}

@media screen and (min-width: 900px) {
  .img-text-container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
}
