@import "../../Global";

.overlap-container {
  margin: 1em auto;
  padding: $main-padding;
  min-height: 30em;
  max-width: 40em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  .parent-overlap {
    @include box;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: rgba($color: $color2, $alpha: 0.5);
    backdrop-filter: blur(8px);
    z-index: 2;
  }
  h1 {
    color: $color-acc2;
  }
  .child-overlap {
    &,
    & > img {
      @include box(0.6rem, 0);
    }
    grid-column: 2/-1;
    grid-row: 2/-1;
  }
}
